/*------------------------------------*\
  #FONT-FACE
\*------------------------------------*/

/* @font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  src: url("./assets/fonts/montserrat-v15-latin-500.woff2") format("woff2"),
      url("./assets/fonts/montserrat-v15-latin-500.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/montserrat-v15-latin-700.woff2") format("woff2"),
      url("./assets/fonts/montserrat-v15-latin-700.woff") format("woff");
} */


/*------------------------------------*\
  #BOX-SIZING
\*------------------------------------*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}



/*------------------------------------*\
  #GLOBAL-STYLES
\*------------------------------------*/

html {
  height: 100%;
}

body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #384978;
  background-color: #f8f9fd;
}

img {
  max-width: 100%;
  height: auto;
}



/*------------------------------------*\
  #HELPER / GLOBAL COMPONENTS
\*------------------------------------*/

/* VISUALLY HIDING CODE */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1220px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}